<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test" data-provider-thread-count="1" parallel="tests" thread-count="1">


    <listeners>
        <listener class-name="com.haisheng.framework.testng.service.RetryListener"></listener>
        <!--<listener class-name="com.haisheng.framework.testng.service.TestNGSimpleReport"/>-->
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

    <test name="pv-testng" preserve-order="true">
        <classes>
            <class name="com.haisheng.framework.testng.edgeTest.PVTest"></class>
        </classes>
    </test>

</suite>
