<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haisheng.framework.dao.IPorscheDao">
    <resultMap id="ConfigMap" type="com.haisheng.framework.model.bean.PorscheDeliverInfo">
        <result property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="idNumber" column="id_number"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="phones" column="phones"/>
        <result property="subjectTypeName" column="subject_type_name"/>
        <result property="saleName" column="sale_name"/>
        <result property="saleId" column="sale_id"/>
        <result property="carStyle" column="car_style"/>
        <result property="carModel" column="car_model"/>
        <result property="deliverDate" column="deliver_date"/>
        <result property="plateTypeName" column="plate_type_name"/>
        <result property="defrayTypeName" column="defray_type_name"/>
        <result property="payTypeName" column="pay_type_name"/>
        <result property="plateNumber" column="plate_number"/>
        <result property="vehicleChassisCode" column="vehicle_chassis_code"/>
        <result property="gmtCreate" column="gmt_create"/>
    </resultMap>

    <select id="selectPorscheDeliver" resultMap="ConfigMap">
        select * from t_porsche_deliver_info
    </select>
</mapper>