<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haisheng.framework.dao.IZentaoBugDao">
    <resultMap id="ZentaoBugMap" type="com.haisheng.framework.model.bean.ZentaoBug">
        <result property="product" column="product" />
        <result property="severity" column="severity" />
        <result property="module" column="module" />
        <result property="status" column="status" />
        <result property="openedDate" column="openedDate" />
        <result property="openedBy" column="openedBy" />
        <result property="title" column="title" />
        <result property="type" column="type" />
        <result property="resolvedBy" column="resolvedBy" />
        <result property="resolution" column="resolution" />
    </resultMap>

    <!-- select 1-not delete, 2-deleted-->
    <select id="getAllBugs"
            resultMap="ZentaoBugMap">
        select
        product,status,severity,`module`,openedBy,title,`type`,resolvedBy,resolution
        from
        zt_bug
        where deleted='0' and openedDate > #{startDate}
    </select>



</mapper>